*,*::before,*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
  background-color: bisque;
}

.container{
  max-width: 1200px;
  width: 100%;
  padding: 1rem;
  margin: 0 auto;
}

img{
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.flex{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

header{
  text-align: center;
  background-color: black;
  color: #fff;
  padding: 1rem;
}

select{
  display: block;
  padding: 0.5rem 2rem;
  margin: 2rem auto;
}

.news-article{
  padding: 1rem;
  height: 250px;
  margin-bottom: 2rem;
}

.image-container{
  flex: 0 1 35%;
  height: 100%;
}

.news-content{
  display: flex;
  flex-direction: column;
  flex: 0 1 60%;
}

.news-site, .read-btn{
  padding: 0.2rem 1rem;
  background-color: cornflowerblue;
  color: #fff;
  width: fit-content;
  border-radius: 0.5rem;
}

.news-site, .news-title{
  margin-bottom: 2rem;
}

.read-btn{
  align-self: flex-end; 
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #d44a13; /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  animation: spin 0.5s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.message{
  color: red;
  text-align: center;
  margin-top: 2rem;
  display: none;
}